<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.o3dr.android.dp.wear">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/AppTheme">

        <activity
            android:name=".activities.PreferencesActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>

        <receiver android:name=".receivers.GCSEventsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.o3dr.services.android.lib.gcs.event.action.VEHICLE_CONNECTION" />
                <action android:name="com.o3dr.services.android.lib.gcs.event.action.VEHICLE_DISCONNECTION" />
            </intent-filter>
        </receiver>
        
        <service android:name=".services.DroneService" />

        <service android:name=".services.WearListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
